# Lab 3 SQL Summarize and Group Data

**There are 6 problems worth 1 point each in this lab. After completing all the problems, save your file as "Lab3SQLSummarizeGroupData_NetID.ipynb" and upload it to Canvas.**

## Problem 1

Create a report showing the highest, lowest, and average list prices among our finished products.Â  Label the columns properly and round the values to two decimal places.

In [1]:
-- Your SQL query here
SELECT ROUND(MAX(ListPrice),2) AS HighestPrice, ROUND(MIN(ListPrice),2) AS LowestPrice, ROUND(AVG(ListPrice),2) AS AveragePrice
FROM Production.Product
WHERE FinishedGoodsFlag=1;

HighestPrice,LowestPrice,AveragePrice
3578.27,2.29,744.60

## Problem 2

Create a report showing the number of current employees at AdventureWorks by marital status. Label the columns properly.

In [1]:
-- Your SQL query here
SELECT MaritalStatus, COUNT(BusinessEntityID) AS EmployeeCount
FROM HumanResources.Employee
WHERE CurrentFlag=1
GROUP BY MaritalStatus;

MaritalStatus,EmployeeCount
M,146
S,144

## Problem 3

Create a report showing the FirstName, LastName, BirthDate, and JobTitle of our oldest employee.

In [2]:
-- Your SQL query here
SELECT FirstName, LastName, BirthDate, JobTitle
FROM Person.Person AS pp
INNER JOIN HumanResources.Employee AS ee 
ON pp.BusinessEntityID=ee.BusinessEntityID
WHERE BirthDate=(
    SELECT MIN(BirthDate)
    FROM HumanResources.Employee
);

FirstName,LastName,BirthDate,JobTitle
Stephen,Jiang,1951-10-17,North American Sales Manager

## Problem 4

Create a report showing job titles that contain the word '**sales**'. The report should include the job title and the corresponding employee count, sorted by employee count in descending order. Label the columns properly.

In [4]:
-- Your SQL query here
SELECT JobTitle, COUNT(BusinessEntityID) AS EmployeeCount 
FROM HumanResources.Employee
WHERE JobTitle LIKE '%sales%'
GROUP BY JobTitle
ORDER BY EmployeeCount DESC;

JobTitle,EmployeeCount
Sales Representative,14
Vice President of Sales,1
European Sales Manager,1
North American Sales Manager,1
Pacific Sales Manager,1

## Problem 5

Create a report showing the departments that haveÂ 10 or more employees currently assigned to them. The report should include the department names and the corresponding employee count, sorted by employee count in descending order. Lable the columns properly.

In [6]:
-- Your SQL query here
SELECT [Name], COUNT(edh.BusinessEntityID) AS EmployeeCount
FROM HumanResources.Department AS hrd 
INNER JOIN HumanResources.EmployeeDepartmentHistory AS edh
ON hrd.DepartmentID=edh.DepartmentID
INNER JOIN HumanResources.Employee AS ee 
ON ee.BusinessEntityID=edh.BusinessEntityID
WHERE CurrentFlag=1 AND EndDate IS NULL 
GROUP BY [Name]
HAVING COUNT(edh.BusinessEntityID)>=10
ORDER BY EmployeeCount DESC;

Name,EmployeeCount
Production,179
Sales,18
Purchasing,12
Finance,10
Information Services,10

## Problem 6

Create a report showing the months in 2012 where the average order size exceeds 8,000. The report should include the year, month, and the corresponding average order size, sorted by the average order size in descending order. Label the columns properly.

**Hint**:
+ The *OrderDate* column in the **SalesOrderHeader** table records the order date.
+ The *SubTotal* column in the **SalesOrderHeader** table records the order size.

In [8]:
-- Your SQL query here
SELECT DATEPART(YEAR,OrderDate) AS [Year], DATENAME(MONTH,OrderDate) AS [Month], AVG(SubTotal) AS AverageOrderSize
FROM Sales.SalesOrderHeader
WHERE DATEPART(YEAR,OrderDate)=2012
GROUP BY DATEPART(YEAR,OrderDate), DATENAME(MONTH,OrderDate)
HAVING AVG(SubTotal)>8000
ORDER BY AverageOrderSize DESC;

Year,Month,AverageOrderSize
2012,January,11817.343
2012,June,10511.165
2012,May,10493.5249
2012,September,9812.9316
2012,March,9788.6455
2012,July,8877.8022